{% extends 'dados/base.html' %}
{% block conteudo %} 
<a class="btn btn-success" style="position: absolute; left: 85%;" href="">Adicionar</a>  
<div class="container">
    <table class="table table-bordered table-bordered">
        <tr style="background-color: yellow;">
            <th>Nome do setor</th>
            <th>QTD P E</th>
            <th>Maquinas</th>
            <th>Horas trabalhadas</th>
            <th>QTD Produtos</th>
            <th>Salario básico</th>
            <th>Ações</th>
        </tr>
        {% for dado in dados %}
        <tr>
            <td>{{dado.nome_setor}}</td>
            <td>{{dado.funcionarios}}</td>
            <td>{{dado.clientes}}</td>
            <td>{{dado.fornecedores}}</td>
            <td>{{dado.produtos}}</td>
            <td>{{dado.empresas_terceiras}}</td>
            <td><button class="btn btn-danger" style="cursor: pointer;">Excluir</button></td>
            <td><button class="btn btn-warning" style="cursor: pointer;">Editar</button></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}